:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #d4be98;
    background-color: #282828;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

img {
    margin-bottom: 0.25em;
}

img, span {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

::selection {
    color: #282828;
    background: #d4be98;
}


h1 {
    cursor: pointer;
    margin: 0;
}

.shiggy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#refresh-info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    color: #918274;
}